* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: gray;
    font-family: 'Roboto', sans-serif;
}

.textAlign {
    text-align: center;
}

.marginAuto {
    margin: auto;
}

.container {
    max-width: 1000px;
}

.footer {
    background: #0C0701;
    height: 5vh;
    line-height: 5vh;
    color: #53476D;
}

.nav {
    text-transform: uppercase;
    background: #49102D;
    height: 80px;
}

.nav ul li a {
    text-decoration: none;
    color: #B57243;
    width: 16.666%;
    height: 80px;
}

.nav ul li {
    display: inline-block;
    width: 16.666%;
    height: 80px;
    line-height: 80px;
    float: left;
    position: relative;
}

.nav:before, 
.nav:after {
	content: "";
	display: table;
	clear: both;
}

.nav ul li:hover {
    background: #4B21A6;
    transition: 1s;
    text-shadow: black 0.4em 0.4em 0.4em;
    cursor: pointer;
}

.nav ul li:hover a {
    color: #A87E93;
    font-size: 20px;
    font-weight: 600;
}

.jumbotron {
    background-image: url(http://1.bp.blogspot.com/-NAYokHyXzV0/VnvynY3rxoI/AAAAAAAAJz4/IFkk-fyy9Eg/s1600/Martial%2Barts.jpg);
    
    height: calc(100vh - 120px);
    background-size: cover;
    background-repeat: no-repeat;
    color: #A2763C;
    text-shadow: #15130F 0.3em 0.4em 0.4em;
    background-position: center;
    overflow: hidden;
}

.jumbotron>h1 {
    float: right;
    text-align: center;
    font-weight: bold;
    padding: 7%;
}

.jumbotron>h3 {   
    position: fixed;
    left: 20%;
    bottom: 10%;
    color: #A2763C;
    text-shadow: red 0.1em 0.1em 0.1em;
}

.nav>ul>li>ul>li {
    display: none;
    background: #49102D;
    width: 100%;
    height: 40px;
    line-height: 40px;
    
}

.nav li:hover ul li {
    display: block;
    position: grid;
}

button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 59.5%;
    margin-top: 17%;
    background-color: rgba(255,255,0, 0.2);
    background-size: 150%;
    transition: 2s;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(-50deg, red 30%, yellow 75%);
    background-position: 0% 100%;
    color: white;
}

#main {
    font-size: 20px;
    font-weight: 600;
}