* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: gray;
    font-family: 'Roboto', sans-serif;
}

.textAlign {
    text-align: center;
}

.marginAuto {
    margin: auto;
}

.container {
    max-width: 1000px;
}

.footer {
    background: #37322C;
    height: 40px;
    line-height: 40px;
    color: #53476D;
}

.nav {
    text-transform: uppercase;
    background: #37322C;
    height: 80px;
}

.nav ul li a {
    text-decoration: none;
    color: #B57243;
}

.nav ul li {
    display: inline-block;
    width: 16.666%;
    height: 80px;
    line-height: 80px;
    float: left;
    position: relative;
}

.nav:before, 
.nav:after {
	content: "";
	display: table;
	clear: both;
}

.nav ul li:hover {
    background: #6D5B44;
    transition: 1s;
    text-shadow: black 0.4em 0.4em 0.4em;
    cursor: pointer;
    
}

.nav ul li:hover a {
    color: #A87E93;
}

.jumbotron {
    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--G7_SMEbK--/c_scale,fl_progressive,q_80,w_800/18kidy0nchnegpng.png");
    height: calc(100vh - 120px);
    background-size: cover;
    background-repeat: no-repeat;
    color: #37322C;
    text-shadow: #15130F 0.4em 0.4em 0.4em;
    background-position: center;
    overflow: hidden;
}

.jumbotron>h1 {
    float: right;
    text-align: center;
    font-weight: bold;
    padding: 6%;
}

.jumbotron>h2 {   
    position: fixed;
    left: 20%;
    bottom: 10%;
    color: #A2763C;
    text-shadow: red 0.1em 0.1em 0.1em;
}

.nav>ul>li>ul>li {
    display: none;
    background: #37322C;
    width: 100%;
    height: 40px;
    line-height: 40px;
    
}

.nav li:hover ul li {
    display: block;
    position: grid;
}

#sendEmail {
    position: fixed;
    bottom: 4%;
    padding: 1%;
}

.contact {
    padding: 5%;
    text-shadow: 0 0 0;
}

#writeEmail, #adress, #firstName {
    color: gray;
}

p a:hover {
    color: red;
}

.jumbotron p {
    background: linear-gradient(#DECBAD, white);
    padding: 11px 9px 11px 18px;
    width: 41%;
    border-radius: 5px;
    font-size: 18px;
}

i {
    color: dodgerblue;
}
