* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: gray;
    font-family: 'Roboto', sans-serif;
}

.textAlign {
    text-align: center;
}

.marginAuto {
    margin: auto;
}

.container {
    max-width: 1000px;
    background-color: lightgray;
}

.footer {
    background: #37322C;
    height: 40px;
    line-height: 40px;
    color: #53476D;
}

.nav {
    text-transform: uppercase;
    background: #37322C;
    height: 80px;
}

.nav ul li a {
    text-decoration: none;
    color: #B57243;
}

.nav ul li {
    display: inline-block;
    width: 16.666%;
    height: 80px;
    line-height: 80px;
    float: left;
    position: relative;
}

.nav ul li:hover {
    background: #6D5B44;
    transition: 1s;
    text-shadow: black 0.4em 0.4em 0.4em;
    cursor: pointer;
}

.nav ul li:hover a {
    color: #A87E93;
    font-size: 20px;
    font-weight: 600;
}

.nav>ul>li>ul>li {
    display: none;
    background: #37322C;
    width: 100%;
    height: 40px;
    line-height: 40px;  
}

.nav li:hover ul li {
    display: block;
    position: grid;
}

img {
    width: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

.col-3 {
    float: left;
}
.row:before, 
.row:after {
	content: "";
	display: table;
	clear: both;
}

.gallery {
    width: 1000px;
    min-height: calc(100vh - 120px);
}

.gallery h1 {
    opacity: 1;
    text-align: center;
    color: #5E5B57;
    margin-top: 3%;
    margin-bottom: 3%;

}

.row {
    width: 900px;
    margin: auto;
}

img {
    opacity: 0.8;
}

img:hover {
    opacity: 1;
    cursor: zoom-in;
    box-shadow: #393633 4px 6px;
}

#galeria {
    font-size: 20px;
    font-weight: 600;
}
